body{
    color: white;
    margin: 0px;
    padding: 0px;
    background:url("img/back.img.jpg")
    
}

.left{
    position: absolute;
    left: 30px;
    top: 20px;
    display: inline-block;
}

.left Img{
    width: 80px;
}

.center{
    display: block;
    width: 33%;
    margin: 20px auto;}

.navbar{
    display: inline-block;

}

.navbar li{
    display: inline-block;
}

.navbar li a{
    font-size: 25px;
    padding: 10px 10px;
    text-decoration: none;
    color: white;
}

.navbar li a:hover, .navbar li a.active{
    text-decoration: underline;
    color: gray;
}

.btn{
    position: absolute;
    right: 30px;
    top: 20px;
    display: inline-block;
}

.btn{
    margin: 10px 10px;
    padding: 12px 35px;
    color: white;
    align-items: center;
    font-size: 15px;
    border-radius: 34px;
    border: 2px solid rgb(143, 143, 255);
    background-color: transparent;
    
}
.btn:hover{
    background-color: red;
    border: 0px;
    cursor: pointer;

}